doctype html
html(ng-app='trailStats')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content
    script(src='/js/angular.min.js')
    script(src='/js/angular-ui-router.js')
    script(src='/app/trails/trails.js')
    script(src='/app/services/services.js')
    script(src='/app/app.js')
