<div ng-hide="queried" class="row">
  <div class="small-8 small-centered">
    <div class="query">
      <div class="row">
        <div class="small-4 columns">
          <label for="city">City:</label>
          <input ng-model="trailCity" name="city" type="text" placeholder="City">
        </div>
        <div class="small-4 columns">
          <label for="state">State: </label>
          <input ng-model="trailState" type="text"name="state" placeholder="State">
        </div>
        <div class="small-4 columns">
          <label for="type">Type:</label>
          <select ng-model="trailType" name="type">
            <option value="2">Hiking</option>
            <option value="5" selected>Biking</option>
          </select>
        </div>
        <div class="small-12 columns">
          <button class="button expanded home-button" ng-click='getTrails()'>Check Trails</button>
        </div>
      </div>  
    </div>
  </div>
</div>
<div ng-hide="!queried" class="row show-hide">
  <button class="button" ng-click="queried = !queried">Search Again</button>
</div>
<div class="row">
  <div class="trail-container">
    <div class="row show-hide" ng-show="queried">
      <div class="callout secondary text-center">
        <div class="small-4 columns">
          <span class="success label">Total</span>
          <h3>{{ totalTrails }}</h3>
          <span>Trails</span>
        </div>
        <div class="small-4 columns">
          <span class="success label">Total</span>
          <h3>{{ totalMiles }}</h3>
          <span>Miles</span>
        </div>
        <div class="small-4 columns">
          <span class="success label">Average</span>
          <h3>{{ avgRating }}</h3>
          <span>Rating</span>
        </div>
      
        
      </div>

    </div>
    <div ng-show="queried" class="show-hide" ng-repeat="trail in trails">
      <div class="row">
        <div class="callout secondary">
          <div class="small-12 columns">
            <h3 ng-bind-html="trustHtml(trail.name)"></h3>
            <div class="row">
              <div class="small-4 columns">
                <img src="{{trail.thumbnail}}" />  
                <hr>
                <button class ="button" ng-click="viewMap = !viewMap">View Map</button>
                <div ng-show="!viewMap">
                  <ng-map center="[{{trail.lat}}, {{trail.lon}}]">
                    <marker position="[{{trail.lat}}, {{trail.lon}}]" title="marker" animation="Animation.DROP"></marker>
                  </ng-map>
                </div>        
              </div>
              <div class="small-8 columns">
                <h4>Description</h4>
                <p ng-bind-html="trustHtml(trail.description)"></p>
                <p>{{trail.length}} Miles</p>
                <h4>Directions</h4>
                <p ng-bind-html="trustHtml(trail.directions)"></p>
                <a class="button" href="{{trail.url}}" target="blank">More Info</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
